.table {
  position: relative;
  max-width: 1920px;
  background: #202124;
  color: #ffffff;
  padding-left: 20px;
  height: 44px;
  padding-top: 20px;

  .item {
    display: grid;
    grid-template-columns: 1.5fr 4.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
    grid-gap: 0 30px;
    height: 44px;
    border: 1px solid #414144;
    color: #FFFFFF;
  }
}